body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #000;

}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .container {
      width: 940px;
      padding: 0 10px;
      margin: 0 auto;
  }
  
  .df {
      display: flex;
      
  }
   p{
       margin: 0;
   }

   button {
       cursor: pointer;
   }

  .header-top {
      background-color: #293449;
      color: #fff;
      height: 42px;
  }

  .header-top a {
    color: #fff;
  }

  .header-top .cart,
  .header-top .bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 34px;
    font-size: 17px;
    position: relative;
      
  }

  .header-top .cart-packed {
      background-color: #ee3643;
      padding-right: 28px;
      padding-left: 40px;
  }

 

  .header-top .cart::before,
  .header-top .bookmarks::before {
      content: "";
      position: absolute;
      background-image: url(../img/svg/icon-bookmark.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      
      left: 5px;
      opacity: 0.3;
  }

  .header-top .cart-packed::before {
    left: 15px;
}

  .header-top .cart::before {
    background-image: url(../img/svg/icon-cart.svg);
  }

  .cart:hover::before,
  .bookmarks:hover::before,
  .cart:focus::before,
  .bookmarks:focus::before {
    opacity: 1;
  }

  .cart:active::before,
  .bookmarks:active::before  {
    opacity: 0.5;
  }

  .header-top a:hover,
  .header-top a:focus {
      background-color: #212a3a;
  }
  .header-top a:active {
      background-color: #161d29;
      color: #a2a5a9;
  }

  .header-logo {
      background-color: #ee3643;
      font-family: 'Cuprum';
      border-bottom: 5px solid #b52933;
      width: 220px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.01em;
     
      margin: 0;
      cursor: pointer;
      text-align: center;
     
      height: 42px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
  }

  

  .header-logo:hover,
  .header-logo:focus{
    background-color: #ca2c37;
  }
  .header-logo:active{
    background-color: #ba2732;
  }
  

  .header-logo a {
      font-size: 17px;
      line-height: 18px;
  }

    .header-search {
        position: relative;
      background: transparent;
      border: none;
      padding-left: 47px;
      color: #000;
      width: 233px;
      /* margin-right: 12px; */
      height: 40px;
  }

  .search {
      position: relative;
      display: flex;
      align-items: center;
      
  }

  .search::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/icon-search.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    
    left: 17px;
    top: center;
    opacity: 0.3;
  }

  .search:hover::before,
  .search:focus::before   {
    opacity: 1;
    z-index: 1;
    
  }

  .search:active::before   {
    opacity: 0.5;
  }

  .header-search:hover {
    background-color: #212a3a;
    
  }

  .header-search:focus {
      background-color: #fff;
      z-index: 2;
  }


  .header-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-family: 'Cuprum';
  }
  .header-search::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-family: 'Cuprum';
  }
  .header-search:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-family: 'Cuprum';
  }
  .header-search:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-family: 'Cuprum';
  }

  .header-top  {
      display: flex;
  }

  .header-top .purchase {
      font-size: 17px;
      line-height: 18px;

      width: 150px;
      text-align: center;
      margin-left: auto;
      background-color: #63a63e;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 100%;
      /* padding: 0 23px; */
  }

  .header-top .purchase:hover,
  .header-top .purchase:focus
   {
      background-color: #5fbb2d;
  }

  .header-top .purchase:active
   {
      background-color: #518534;
      color: #a8c29a;
  }


  /* Header Phone number + Login */

  .store-info h1 {
      width: 200px;
      padding-left: 50px;
      text-align: left;
  }

  .bg-header-color {
      background-color: #f4f7f9;
      margin-bottom: 59px;
  }

  .bg-header-color h1 {
      margin: 0;

      font-style: italic;
      font-size: 16px;
      line-height: 23px;

      color: #ee3643;
      font-weight: 400;
  }

  .contact-info {
      width: 270px;
      padding-left: 70px;
      padding-right: 68px;
  }

  .contact-info-c {
      padding-right: 50px;
  }

  .contact-info .phone-number {
      color: #ee3643;
      position: relative;
      font-size: 21px;
      font-style: 21px;

      border: 3px solid #fff;
      display: block;
      text-align: center;
      padding: 7px 0;
      padding-left: 5px;
      padding-left: 20px;
      margin-bottom: 8px;
  }

  .contact-info .phone-number:before {
      content: "";
      position: absolute;

      background-image: url(../img/svg/icon-phone.svg);
      background-repeat: no-repeat;
      width: 19px;
      height: 19px;
      left: 10px;
      top: 8px;
  }

  .contact-info .address {
      color: #32425c;

      font-size: 14px;
      line-height: 14px;
      display: block;
      text-align: center;
  }

  .header-store-info {
      padding-top: 48px;
      margin-bottom: 41px;
  }

  .authorization {
      display: flex;
  }

  .authorization a {
      font-size: 21px;
      line-height: 21px;

      background-color: #fff;
      color: #000;
      
  }

  .authorization .log-in {
      padding: 0px 27px 0px 48px;
      display: inline-block;
      margin-right: 10px;
      height: 45px;
      
      vertical-align: middle;
      line-height: 45px;
      position: relative;
    }

    .authorization .log-in::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 17px;
        background-image: url(../img/svg/icon-login.svg);
        background-position: 0 0;
        background-repeat: no-repeat;
        left: 10px;
        top: 14px;
    }

    /* .authorization a:nth-child(1):hover::before {
        background-image: url(../img/svg/icon-login-1.svg);
    } */

    .authorization .sign-in {
        /* padding: 12px 0 13px 0; */
        display: inline-block;
        width: 150px;
        text-align: center;
        height: 45px;
        line-height: 45px;
      }

  .authorization a:hover,
  .authorization a:focus {
      color: #ee3643;

  }
  .authorization a:active {
        color: #b2b2b2;
  }

  .main-navigation {
      padding-bottom: 60px;
  }

  .navigation-list {
      list-style: none;
      background-color: #32425c;

      padding: 0;
      margin: 0;

      width: 940px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      border-bottom: 5px solid #293449;
  }
  .navigation-list a {
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    height: 100%;
    padding: 0 25px;
    line-height: 55px;
    
    display: inline-block;
  }

  .navigation-list .navigation-list-first {
      padding-left: 50px;
  }

  .navigation-list .navigation-list-last {
      padding-right: 50px;
  }
  /* .navigation-list a:nth-child(1) {
      padding-left: 50px;
  }

  .navigation-list a:last-child {
    padding-right: 50px;
} */

  /* .navigation-list li {
    height: 100%;
  } */

  .navigation-list a:hover,
  .navigation-list a:focus {
      background-color: #293449;
  }

  .navigation-list a:active {
    background-color: #1d2739;
    color: #868c95;
}


/* Слайдер и блоки-ссылки на главные товары магазина */

    .store-main-features .to-buy {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
       
    }

    .to-buy li {
        box-sizing: border-box;
        width: 300px;
        padding: 22px 25px 25px 25px;
        height: 123px;
        position: relative;
        
    }

    .to-buy b {
        font-size: 24px;
        line-height: 30px;
        color: #fff;
        display: block;
        font-weight: bold;
        margin-bottom: 11px;
        
    }

    .to-buy a {
        font-size: 14px;
        line-height: 18px;
        /* padding: 12px 27px; */
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 3px;
        
    }

  .to-buy,
  .specials {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .to-buy b,
  .specials b {
      font-size: 24px;
      line-height: 30px;
  }

  .to-buy a,
  .specials a {
      font-size: 14px;
      color: #fff;
      line-height: 18px;
      text-transform: uppercase;
      width: 135px;
      height: 38px;
      box-sizing: border-box;
  }

  .to-buy-item-1 {
      background-color: #ffbf47;
  }
  .to-buy-item-1:after {
      position: absolute;
      content: '';

      background-image: url(../img/icon-1.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 44px;  
      height: 65px;
      right: 43px;
      top: 31px;
  }

  .to-buy-item-1:before {
    position: absolute;
    content: '';

    background-image: url(../img/svg/new\ flag.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 60px;  
    height: 59px;
    right: 0px;
    top: 0px;
}

  .to-buy-item-2 {
      background-color: #3bbce3;
  }

  .to-buy-item-2:after {
    position: absolute;
    content: '';

    background-image: url(../img/icon-2.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 75px;  
    height: 61px;
    right: 28px;
    top: 33px;
}

  .to-buy-item-3 {
    background-color: #dc91d8;
}

.to-buy-item-3:after {
    position: absolute;
    content: '';

    background-image: url(../img/icon-3.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 78px;  
    height: 62px;
    right: 31px;
    top: 31px;
}
 
.specials-item-1 {
    background-color: #8ed78f;
}

.specials-item-2 {
    background-color: #ffc047;
}

.to-buy-item-link {
    background-color: rgba(0,0,0,0.1);
}

.to-buy-item-link:hover,
.to-buy-item-link:focus {
    background-color: rgba(0,0,0,0.2);
}

.to-buy-item-link:active {
    background-color: rgba(0,0,0,0.3);
}



.specials-item-link {
    background-color: rgba(0,0,0,0.1);
}

.specials-item-link:hover,
.specials-item-link:focus {
    background-color: rgba(0,0,0,0.2);
}

.specials-item-link:active {
    background-color: rgba(0,0,0,0.3);
}


/* SLIDER */

.slider-section {
    display: flex;
    position: relative;
    
}

.specials {
    padding-left: 640px;
    display: flex;
    flex-direction: column;

}

.specials li {
    box-sizing: border-box;
    width: 300px;
    padding: 22px 25px 25px 25px;
    height: 123px;
    position: relative;
}

.specials li:nth-child(1) {
    margin-bottom: 20px;
}


.specials li:nth-child(1):after {
    position: absolute;
    content: '';

    background-image: url(../img/icon-4.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 59px;  
    height: 72px;
    right: 45px;
    top: 26px;
}

.specials li:nth-child(2) {
    margin-bottom: 53px;
}

.specials li:nth-child(2):after {
    position: absolute;
    content: '';

    background-image: url(../img/icon-5.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 78px;  
    height: 63px;
    right: 31px;
    top: 32px;
}


.specials b {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    display: block;
    font-weight: bold;
    margin-bottom: 11px;
}

.specials a {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

/* SLIDER MAIN */

.main-slider {
    list-style: none;
    position: relative;
}

.main-slider-item {
    display: none;
}

.main-slider-item .main-slider-name {
    position: absolute;

    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;

    top: 23px;
    left: 24px;
    text-transform: uppercase;
}

.main-slider-item .main-slider-desc {
    position: absolute;
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    top: 60px;
    left: 24px;
}

.main-slider li {
    width: 630px;
    position: absolute;
}


.slider-controls .slider-1 {
    display: inline-block;
    width: 22px;
    height: 40px;

    background-color: transparent;
    
    cursor: pointer;

    background-image: url(../img/icon-left.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 114px;
    left: 25px;
    z-index: 20;
    
    font-size: 0; 
}

.slider-controls .slider-2 {
    background-image: url(../img/icon-right.png);
    right: 340px;
    display: inline-block;
    width: 22px;
    height: 40px;

    background-color: transparent;
    
    cursor: pointer;

 
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 114px;
    
    z-index: 20;
    
    font-size: 0;
}

.input-slider-1:checked ~ .store-main-features .main-slider-item1,
.input-slider-2:checked ~ .store-main-features .main-slider-item2 {
    display: block;
}

.input-slider-1:checked ~ .store-main-features .slider-1,
.input-slider-2:checked ~ .store-main-features .slider-2 {
    opacity: 0.5;
    cursor: default;
}

.slider-button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee3643;
    color: #fff;
    box-sizing: border-box;
    width: 195px;
    height: 38px;
    border-radius: 3px;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.slider-button:hover,
.slider-button:focus {
    background-color: #ca2c37;
}

.slider-button:active {
    background-color: #ba2732;
}

/* SLIDER_ CIRCLES */

.slider-controls {
    /* position: absolute; */

}

.slider-controls i {
  position: absolute;
  
  display: inline-block;
  width: 10px;
  height: 10px;
  
  
  border-radius: 50%;
  

  bottom:89px;
  left: 295px;
  z-index: 5;;
  
  /* Временно для демонстрации */
  background-color: #fff;
}

.slider-controls .dot-2 {
    left: 315px;
} 

.slider-controls i:after {
    display: none;
    position: absolute;
    content: '';


    width: 6px;
    height: 6px;

    background-color: #ee3643;
    border-radius: 50%;
    top:20%;
    left:20%;
}

.input-slider-1:checked ~ .store-main-features .dot-1:after,
.input-slider-2:checked ~ .store-main-features .dot-2:after {
    display: block;
}


/* Popular goods */

.popular-goods {
    margin-bottom: 21px;
}

.pupular-bar {
    background-color: #f9f5f0;
    padding: 0 24px 0 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 18px;
}
.pupular-bar h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-family: 'Cuprum';
    font-weight: 400;
    text-transform: uppercase;
}
.pupular-bar button {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    background-color: #ee3643;
    border-radius: 2px;
    padding: 10px 0px;
    width: 253px;
}



.pupular-bar button:hover,
.pupular-bar button:focus {
    background-color: #ca2c37;
}

.pupular-bar button:active {
    background-color: #ba2732;
}

.goods-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.goods-list li {
    border: 1px solid #eaeaea;
    width: 220px;
    height: 318px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.goods-item h3 {
    text-align: center;
    width: 160px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 20px;
}

.goods-item .goods-list-link {
    color: #000;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    
  
}

.goods-paragraph-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goods-paragraph-pricing b {
    color: #a9a9a9;
    text-decoration: line-through;
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", serif;
    margin-bottom: 10px;
}

.goods-paragraph-pricing a {
    background-image: url('../img/pricing-arrow.png');
    background-repeat: no-repeat;
    color: #fff;
    font-size: 17px;
    padding: 10px 45px;
    display: inline-block;
    vertical-align: middle;
    font-family: "PT Sans", serif;
    text-align: center;
    margin-left: 20px;
    position: relative;
}

.goods-item  .goods-list-last {
    margin-bottom: 38px;
}


/* Manufactures Brands */

.manufactures-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.manufactures-brands p {
    width: 220px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    height: 145px;
    cursor: pointer;
}

/* SLIDER SERVICES SECTION */



.slider-services {
    margin-top: 62px;
}

.slider-services {
    background-color: #f4f8f9;
}

.left-slider-options {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 80px;
    padding-bottom: 100px;
}

.left-slider-options label {
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    background-color: #32425c;
    cursor:pointer;
    padding-left: 22px;
    display: block;
    width: 218px;
    height: 62px;
    line-height: 62px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.left-slider-options label:hover,
.left-slider-options label:focus {
    background-color: #293449;
}

.slider-input-1:checked ~ .slider-categories .slider-option-label-1,
.slider-input-2:checked ~ .slider-categories .slider-option-label-2,
.slider-input-3:checked ~ .slider-categories .slider-option-label-3 {
    background-color: #fff;
    border: none;
    color: #32425c;
}

/* .goods-list-link:last-child {
    margin-bottom: 40px;
} */

.slider-services h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
   font-weight: 400;
   text-transform: uppercase;
   font-weight: 400;
   padding-top: 63px;
   margin-bottom: 27px;
}

.slider-servises-about {
    font-size: 13px;
    line-height: 24px;
    width: 400px;
    font-family: 'PT Sans', Arial, sans-serif;
    margin-bottom: 67px;
}


.sevice-item  h3 {
    font-weight: 700;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    color: #32425c;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.sevice-item  p {
    font-family: 'PT Sans', Arial, sans-serif;
    width: 275px;
    font-size: 13px;
    line-height: 24px;
}

.slider-flex-wrap {
    display: flex;
}

.right-slider-container {
    position: relative;
    
}

.right-slider-container li {
    /* position: absolute; */
    width: 320px;
}

.right-slider-container .sevice-item {
    display: none;
    position: relative;
}

.slider-input-1:checked ~ .slider-categories .sevice-item1,
.slider-input-2:checked ~ .slider-categories .sevice-item2,
.slider-input-3:checked ~ .slider-categories .sevice-item3 {
    display: block;
}

.sevice-item1::after {
    content: '';
    position: absolute;
    background-image: url(../img/Layer\ 131.png);
    width: 468px;
    height: 261px;
    top: 25px;
    left: 150px;
}

.sevice-item2::after {
    content: '';
    position: absolute;
    background-image: url(../img/Layer\ 130.png);
    width: 468px;
    height: 261px;
    top: 25px;
    left: 150px;
}

.sevice-item3::after {
    content: '';
    position: absolute;
    background-image: url(../img/Layer\ 119.png);
    width: 468px;
    height: 261px;
    top: 25px;
    left: 150px;
}

.sevice-item3 p {
    width: 280px;
}

.sevice-item2 p {
    width: 310px;
}

/* ABOUT SECTION */


.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 86px;
}

.about-company {
    width: 540px;
 
}

.contacts {
    width: 300px;
}

.contacts img {
    cursor: pointer;
}

.about-company h3,
.contacts h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-company p,
.contacts p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 32px;
}

.about-company .about-company-patagraph1 {
    margin-bottom: 25px;
}

.about-company .about-company-patagraph2 {
    margin-bottom: 21px;
}

.about-company-list {
    margin-bottom: 35px;
}

.about-company-list li{
    padding-left: 35px;
    margin-bottom: 20px;
    font-weight: 400;
    /* display: inline-block; */
}


.about-company-list li {
    font-size: 18px;
    line-height: 20px;
    position: relative;
}

.about-company-list li::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    left: 0;
    top: 8px;
}


.button-red1 {
    color: #fff;
    background-color: #ee3643;

    border-radius: 2px;
    /* padding: 10px 60px; */
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.button-red2 {
    color: #fff;
    background-color: #ee3643;

    border-radius: 2px;
    /* padding: 10px 60px; */
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.button-red1:hover,
.button-red1:focus,
.button-red2:hover,
.button-red2:focus {
    background-color: #ca2c37;
}
.button-red1:active,
.button-red2:active {
    background-color: #ba2732;
}



/* Footer */



footer {
    background-color: #32425c;
}

.footer-top  {
    display: flex;
    margin-bottom: 28px;
}

.footer-logo {
    color: #fff;
    background-color: #ee3643;
    font-family: 'Cuprum';
    border-bottom: 5px solid #b52933;
    width: 220px;
    font-size: 29px;
    line-height: 63px;
    font-weight: 300;
    letter-spacing: 0.01em;
    margin: 0;
    cursor: pointer;
    text-align: center;
    /* height: 42px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 170px;
    text-transform: uppercase;
    
}

.few-words-about {
    padding-top: 65px;
    padding-bottom: 68px;
}

.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
}

.footer-logo:active {
    background-color: #ba2732;
}

.footer-navigation {
    display: flex;
    width: 550px;
    justify-content: space-between;
    margin-top: 38px;
}


.footer-navigation a {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}

.footer-navigation a:focus {
    text-decoration: underline;
}

.footer-navigation a:active {
    color: #929caa;
    text-decoration: none;
}


.footer-middle {
    display: flex;
    margin-bottom: 49px;
    justify-content: space-between;
}

.footer-location {
    
}

.footer-stoore-specials {
    display: flex;
    justify-content: space-between;
    width: 525px;
}

.footer-stoore-specials li {
    font-size: 18px;
    line-height: 24px;
}

.footer-bottom {
    background-color: #293449;
    padding-top: 35px;
    padding-bottom: 31px;
}

.flex-bottom {
    display: flex;
    /* justify-content: space-between; */
}

.footer-location {
    width: 330px;
}

.footer-copyright {
    /* margin-right: 107px; */
}

.footer-location span {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    
}

.footer-stoore-specials a {
    color: #000;
    color: #ffd180;
}

.footer-stoore-specials a:hover,
.footer-stoore-specials a:focus {
    text-decoration: underline;
}

.footer-stoore-specials a:active {
    text-decoration: none;
    color: #998a6e;
}

/* .footer-bottom {
    display: flex;
} */

.footer-bottom span {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    display: block;
}

.footer-bottem-p1 {
    margin-right: 52px;
    
}

.footer-bottem-p2 {
    margin-right: 15px;
}

.footer-bottom-text b {
    color: #fff;
    font-weight: 400;

}

.footer-bottom-text a {
    color: #ffd180;
    text-decoration: none;
}

.footer-bottom-text a:hover,
.footer-bottom-text a:focus {
    text-decoration: underline;
}

.footer-bottom-text a:active {
    text-decoration: none;
    color: #ee3643;
}

.brand-wrap {
    width: 220px;
    height: 145px;
    margin: 0;
   display: flex;
   justify-content: center;
   align-items: center
}

.brand-wrap:hover,
.brand-wrap:focus {
    box-shadow: 0px 15px 25px 5px rgba(0,0,0,0.2);
}

.social {
    display: flex;
    margin-left: 165px;
    margin-right: auto;
}

.social li {
    width: 42px;
    height: 42px;
    background-image: url(../img/svg/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #212a3a;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 3px;
}

.social li:nth-child(2) {
    background-image: url(../img/svg/icon-fb.svg);
}

.social li:nth-child(3) {
    background-image: url(../img/svg/icon-insta.svg);
}

.social li:hover,
.social li:focus,
.social li:active  {
    background-color: #ee3643;
}




/* CATALOG STYLES */

.breadcrumbs-list a {
    color: #000;
    font-size: 13px;
    line-height: 18px;

    font-family: "PT Sans";
}

.perforators-block {
    background-color: #f2f6f8;
}

.authorization .user-name {
    color: #000;
    font-size: 21px;
    position: relative;
}



.authorization .user-name::before {
    content: "";
    position: absolute;
    left: 13px;
    top: 13px;

    background-image: url(../img/svg/icon-user.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
}

.authorization .user-name::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 13px;

    background-image: url(../img/svg/icon-logout.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
}

/* .authorization:hover .user-name::before,
.authorization:focus .user-name:before {
    background-image: url(../img/svg/icon-user1.svg);
}
.authorization:hover .user-name::after,
.authorization:focus .user-name::after  {
    background-image: url(../img/svg/icon-logout1.svg);
} */



.authorization .user-name:hover,
.authorization .user-name:focus {
    color: #000000;
}

.authorization .user-name:active {
    color: #b2b2b2;
}

.authorization .my-orders,
.authorization .profile {
    color: #32425c;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
}

.filter button {
    border: none;
    color: #000;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    padding: 12px 40px;
}

.catalog-filter-sorting {
    background-color: #f7f3ec;
}

.catalog-filter-sorting h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.catalog-sorting-options a {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b6b3ae;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-sorting-options li:nth-child(1) a{
    color: #ee3643;
    text-decoration: none;
}

.catalog-sorting-options li:nth-child(1) a:hover {
    color: #000;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-sorting-options a:hover {
    color: #000;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.product-info {
    background-color: #f2f6f8;
}

.product-info b {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;   
    margin-bottom: 25px;
    display: block; 
    
    
}

.product-info p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;    
    letter-spacing: 0.025em;
}

.pagination-list a {
    color: #000;
    /* padding: 12px 16px; */
    display: inline-block;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-list a:hover,
.pagination-list a:focus {
    border: 1px solid #bdc6ca;
}

.pagination-list a:active {
    border: 1px solid #ee3643;
}

.pagination-list li:nth-child(1) a {
    color: #fff;
    background-color: #ee3643;
    border: none;
}

.pagination-item-next a{
    padding: 13px 32px;
}

.catalog-list li {
    border: 1px solid #e5e5e5;
    text-align: center;
}

.item-name a{
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item b {
    color: #a9a9a9;
    text-decoration: line-through;
}

.catalog-item .button {
    background-image: url(../img/pricing-arrow.png);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 17px;
    padding: 10px 45px;
    display: inline-block;
    vertical-align: middle;
    background-position: 80% 0%;
}


/* -------------------------------------CATALOG PAGE---------------------------- */

.autorized-user .user-name {
    display: block;
    width: 300px;
    box-sizing: border-box;
    padding-left: 48px;
   
    line-height: 45px;
}

.autorized-user .my-orders,
.autorized-user .profile {
    background-color: transparent;
    margin-top: 6px;
    display: inline-block;
    position: relative;
}

.autorized-user .my-orders::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #32425c;
    right:12px;
    top: 7px;
}

.autorized-user .my-orders {
    padding-left: 18px;
    padding-right: 29px;
}

/* Breadcrumbs Catalog */

.bg-header-color-c {
    margin: 0;
}

.breadcrumbs-list {
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 16px;
}

.breadcrumbs-list li:not(:nth-child(1)) {
    padding-left: 38px;
    position: relative;
}

.breadcrumbs-list li {
    position: relative;
}

.breadcrumbs-list .hidden-link-to-main {
    position: absolute;
    content: '';

    width: 14px;
    height: 12px;
    background-image: url(../img//svg/icon-home.svg);
    background-repeat: no-repeat;
    left: -18px;
    top: -8px;
}

.breadcrumbs-list li:not(:nth-child(1))::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 12px;
    left: 15px;
    top: 2px;

    
    background-image: url(../img/svg/icon-right-small.svg);
}

.breadcrumbs-list .breadcrumbs-last {
    color: #e5e5e5;
}

.perforators-block h2 {
    margin: 0;
}

/* Header_catalog perforators */

.perforators-block {
    height: 89px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.perforators-block h2 {
    padding-left: 30px;
    color: #32425c;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

fieldset {
    border: none;
}

/* BIG FLEX_WRAP FOR FILTERS AND CATALOG */

.filters-and-goods-wrap {
    display: flex;
    margin-bottom: 60px;
}

.filters {
    width: 220px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

.catalog-flex-wrap {
    display: flex;
    flex-direction: column;
}

/* Sorting */

.catalog-filter-sorting {
    width: 700px;
    display: flex;
    height: 38px;
    align-items: center;
}
.catalog-filter-sorting h3 {
    padding-left: 19px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 140px;
}

.catalog-sorting-options {
    display: flex;
    justify-content: space-between;
    width: 354px;
}
.catalog-sorting-options li {
    /* padding-left: 380px; */
    box-sizing: border-box;
    
}

.arrow-list {
    display: flex;
    position: relative;
    width: 60px;
    margin-left: auto;
}
.arrow-top .svg-top-arrow,
.arrow-top .svg-top-arrow:active,
.arrow-bottom .svg-bottom-arrow:active {
    fill: #ee3643;
}

.arrow-bottom .svg-bottom-arrow {
    fill: #c5c5c5;
}

.arrow-top .svg-top-arrow:hover,
.arrow-bottom .svg-bottom-arrow:hover,
.arrow-top .svg-top-arrow:focus,
.arrow-bottom .svg-bottom-arrow:focus  {
    fill: #231F20;
}


.arrow-top,
.arrow-bottom {
    cursor: pointer;
}

.arrow-top {
    padding-right: 20px;
}


/* СЕТКА ТОВАРОВ КАТАЛОГА  */

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-list .catalog-item {
    width: 220px;
    height: 318px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

/* CATALOG LIST ITEM */

.catalog-item-pricing {
    display: flex;
    flex-direction: column;
}

.catalog-item {
    position: relative;
}

.catalog-item h3 {
    width: 160px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    margin-top: 5px;
    line-height: 20px;
    margin-bottom: 10px;
}

.catalog-item-pricing b {
    font-size: 17px;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 8px;
}

.catalog-item-pricing a {
    font-size: 17px;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 20px;
    margin-top: auto;
}

.catalog-item-pricing .single-button {
    margin-top: 25px;
}


/* PAGINATION LIST */

.pagination-list {
    display: flex;
    margin-top: 50px;
}

.pagination-list li {
    padding-right: 10px;
    display: flex;
    align-items: center
    
}

.pagination-item .pagination-item-number {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
}

.pagination-item .pagination-item-next {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Sans", sans-serif;
    width: 140px;
    text-transform: uppercase;
    font-size: 13px;
}

/* CATALOG NEW FLAG STYLING */

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
   
  }
  
  .catalog-item .flag-new {
    background-image: url("../img/svg/new\ flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  /* CATALOG_ITEM POPUP: BUY OR ADD TO CART */

  .catalog-item .actions {
    display: none;
  }

  .catalog-item:hover .actions {
    display: block;
  }

  .catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
  }

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
    
  }

  .actions .buy {
    position: relative;
  }
  .actions .buy::before {
      position: absolute;
      content: '';

      width: 15px;
      height: 15px;

      background-image: url(../img/svg/cart-icon.png);
      background-repeat: no-repeat;
      left: 15px;
      z-index: 30;
      opacity: 0.3;
  } 

  .catalog-item .actions .buy:hover,
  .catalog-item .actions .buy:focus {
      background-color: #5fbb2d;

  }

 .actions .buy:hover::before,
 .actions .buy:focus::before {
      opacity: 1;
  }


  .catalog-item .actions .buy:active {
    background-color: #518534;
}
 
  
  .catalog-item .actions .bookmark:hover,
  .catalog-item .actions .bookmark:focus {
      border-color: #32425c;
  }

  .catalog-item .actions .bookmark:active {
    border-color: #c1c6ce;
    color: #c1c6ce;
}


/* CATALOG FILTERS SRYLING */

.filter fieldset {

    margin: 0;
    padding: 0;
    
    border: none;   
}

.filters-header {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    width: 220px;
    box-sizing: border-box;
    padding-left: 19px;
    display: flex;
    align-items: center;
    height: 38px;
    background-color: #f7f3ec;
    margin-bottom: 12px;
}

.filter legend {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/* FILTERS _SLIDER WITH PRICE */

.filter .filter-item {
    margin-bottom: 43px;
}

.range-filter {
    width: 220px;
    margin-top: 11px;
  }

  .range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 8px;
    background-color: #f7f3ec;
    padding-top: 39px;
    box-sizing: border-box;
  }

  .range-controls .scale {
    height: 2px;
    width: 80%;
    margin: 0 auto;
    background: #d7dcde;
  }

  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #00ca74;
  }

  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 20px;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
  }

  .range-controls .toggle-max {
    left: 160px;
  }



  /* FILTER SLIDER_INPUTS */

  .price-controls {
    font-size: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    display: inline-block;
    
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .price-controls input {
    width: 96px;
    padding: 11px 10px;
    box-sizing: border-box;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 3px;
    background: #f7f3ec;
  }

  /* Filders MANUFACTURES */

  .filter .fieldset-manufactures {
      margin-bottom: 18px;
      position: relative;
  }

  .filter .fieldset-manufactures::before,
  .filter .fieldset-manufactures::after {
    content: '';
    position: absolute;

    width: 100%;;
    height: 1px;
    background-color: #e5e5e5;

  }

  .filter .fieldset-manufactures::before {
      top: -18px
  }

  .fieldset-manufactures legend {
      margin-bottom: 15px;
  }

  .filter-option-list label {
      font-family: "PT Sans", sans-serif;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      cursor: pointer;
      
  }

  .filter-option-list .filter-option {
      margin-bottom: 20px;
      position: relative;
      padding-left: 35px;
  } 



  .filter-option-list input[type="checkbox"]+label::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 23px;
    top: -2px;
    left: 0px;
    background-image: url("../img/svg/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
  }

  .filter-option-list input[type="checkbox"]:checked+label::before {
    background-image: url("../img/svg/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  .filter-option-list input[type="checkbox"]:checked + label:hover::before,
  .filter-option-list input[type="checkbox"]:checked + label:focus::before,
  .filter-option-list input[type="checkbox"] + label:hover::before,
  .filter-option-list input[type="checkbox"] + label:focus::before {
  opacity: 1;
}

.filter-option-list input[type="checkbox"]:disabled+label::before,
.filter-option-list input[type="checkbox"]:disabled+label {
  opacity: 0.4;
}

.filter-option-list input[type="checkbox"]:disabled+label::before {
    background-image: url("../img/svg/checkbox-on.svg");
    background-repeat: no-repeat;  
}


/* POWER filter */

.filter .fieldset-power{
    margin-bottom: 57px;
}

.filter .filter-button {
    box-sizing: border-box;
    height: 38px;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
    width: 140px;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.filter .filter-button:hover,
.filter .filter-button:focus {
    border-color: #bdc6ca;
}

.filter .filter-button:active {
    border-color: #ee3643;
}


.fieldset-power legend {
    margin-bottom: 15px;
}

.filter-option-power label {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    
}

.filter-option-power .filter-option {
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px;
} 



.filter-option-power input[type="radio"]+label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: -2px;
  left: 0px;
  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-option-power input[type="radio"]:checked+label::before {
  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter-option-power input[type="radio"]:checked + label:hover::before,
.filter-option-power input[type="radio"]:checked + label:focus::before,
.filter-option-power input[type="radio"] + label:hover::before,
.filter-option-power input[type="radio"] + label:focus::before {
opacity: 1;
}

.filter-option-power input[type="radio"]:disabled+label::before,
.filter-option-power input[type="radio"]:disabled+label {
opacity: 0.4;
}

.filter-option-power input[type="radio"]:disabled+label::before {
  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;  
}



/* HIDDEN POPUPS */


/* INDEX.PHP POPUPS */

.appointment {
    position: relative;
    display: none;
}

.appointment-wrap {
    position: fixed;
    box-sizing: border-box;
    width: 620px;
    height: 430px;
    
    border-top: 7px solid #ff5257;
    

    margin: 0 auto;
    padding-top: 45px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
    box-shadow: 0px 20px 20px 10px rgba(0,0,0,0.3);
    z-index: 100;
  
    top: 155px;
  /* Поправить позицию сверху, должно быть 1055px*/
  left: 50%;
  margin-left: -310px;
}

.appointment-item-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.appointment-item {
    width: 220px;
    display: inline-block;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.appointment-item label {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 13px;
}

.appointment-item input[type='text'],
.appointment-item input[type='email'] {
    border: 2px solid #dee3e4;
    height: 38px;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 12px;
    outline: none;

}

.appointment-item input[type='text']:hover,
.appointment-item input[type='email']:hover,
.appointment .feedback-area-bar:hover {
    border: 2px solid #b5b5b5;
    
}

.appointment-item input[type='text']:focus,
.appointment-item input[type='email']:focus,
.appointment .feedback-area-bar:focus {
    border: 2px solid #ee3643;
}

.appointment-item input[type='text']::-webkit-input-placeholder,
.appointment-item input[type='email']::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 12px;
    
    
  }
  .appointment-item input[type='text']::-moz-placeholder,
  .appointment-item input[type='email']::-moz-placeholder { /* Firefox 19+ */
     color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 12px;
  
  }

 

  .appointment-item input[type='text']:-ms-input-placeholder,
  .appointment-item input[type='email']:-ms-input-placeholder{ /* IE 10+ */
     color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 12px;
  }
  .appointment-item input[type='text']:-moz-placeholder ,
  .appointment-item input[type='email']:-moz-placeholder { /* Firefox 18- */
     color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 12px;
    
  }

  .appointment .feedback-area {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 13px;
    display: block;
    
  }

  .appointment .feedback-area-bar {
      display: block;
      width: 100%;
      height: 114px;
      box-sizing: border-box;
      border: 2px solid #dee3e4;
      border-radius: 3px;
      padding-left: 12px;
        margin-bottom: 75px;
        outline: none;
        
  }
  
  
  .appointment textarea::-webkit-input-placeholder {
    color: #a9a9a9;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding-left: 12px;
    
  }

  .appointment button[type='submit'] {
      width: 100%;
      height: 38px;
      text-align: center;
      background-color: #ee3643;
      color: #fff;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 18px;
      
  }

  .appointment .button-close {
      position: absolute;
      top: 16px;
      right: 9px;

      
     
      font-size: 0;
      border: 0;
      cursor: pointer;
      width: 21px;
      height: 21px;
      background-color: transparent;
      background-image: url(../img/svg/form-2.png);
      background-repeat: no-repeat;
     
  }





  /* CATALOG POPUP */


  .hidden-catalog {
      display: none;

      position: fixed;
      margin: 0 auto;
      width: 620px;

      height: 282px;

      background-color: #fff;
      box-sizing: border-box;
      z-index: 100;
      box-shadow: 0px 20px 20px 10px rgba(0,0,0,0.3);
      border-top: 7px solid #ff5257;
    
    top: 155px;
    left: 50%;
    margin-left: -310px;
  }

  .hidden-catalog-wrap {
      width: 620px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .catalog-popup-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 460px;
      height: 163px;
      box-sizing: border-box;
      margin: 0 auto;

  }

  .catalog-popup-top p {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      padding-left: 30px;
  }

  .catalog-popup-top:before {
      content: '';
      position: absolute;

      width: 66px;
      height: 66px;
      top: 50px;
      left: 61px;
      background-image: url(../img/form-1.png);
      background-repeat: no-repeat;
      background-position: 0 0;
  }



  .catalog-popup-buttons {
        display: flex;
        justify-content: center;
   
        background-color: #f1f1f1;
        width: 100%;
        height: 113px;
  }


  .catalog-buttons-flex {
      width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  .catalog-popup-buttons button {
    height: 38px;
    width: 220px;
    border: none;
    border-radius: 3px;
  }

  .catalog-popup-buttons .button-catalog-buy {
      background-color: #ee3643;
      color: #fff;
  }

  .hidden-catalog .button-close {
    position: absolute;
    top: 16px;
    right: 9px;

    
   
    font-size: 0;
    border: 0;
    cursor: pointer;
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url(../img/svg/form-2.png);
    background-repeat: no-repeat;
   
}